<html>

<head>
  <meta charset="UTF-8">
 <title> 平博</title>
<style>
 .footer {

    width: 100%;
    height: 50px;
    bottom: 0px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    left: 0px



}
</style>
</head>
<body>
 <ul>

  <li><a href="/api/pinnacle/足球联赛">足球联赛</a></li>
  <li><a href="/api/pinnacle/电子竞技联赛">电子竞技联赛</a></li>
  <li><a href="/api/pinnacle/橄榄球联赛">橄榄球联赛</a></li>


 </ul>
<footer class="footer">Powered by nginx(1.14.0) on ubuntu</footer>
</body>
</html>