<html>

<head>
  <meta charset="UTF-8">
 <title> 平博</title>
<style>
 .footer {

    width: 100%;
    height: 50px;
    bottom: 0px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    left: 0px



}
</style>
</head>
<body>
 <ul>
    <li><a href="/api/pinnacle/?gtype=Baseball&sportid=3&type=matchup&date=&isHighlighted=False&parentid=">棒球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=3">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Baseketball&sportid=4&type=matchup&date=&isHighlighted=False&parentid=">篮球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=4">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Boxing&sportid=6&type=matchup&date=&isHighlighted=False&parentid=">拳击</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=6">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Chess&sportid=7&type=matchup&date=&isHighlighted=False&parentid=">国际象棋</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=7">赛中盘</a></li><li><a href="/api/pinnacle/?gtype=Soccer&sportid=29&type=matchup&date=&isHighlighted=False">足球</a><a href="/api/pinnacle/?gtype=Rollball&sportid=29">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=8&type=special&date=&isHighlighted=False&parentid=">板球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=8">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Darts&sportid=10&type=matchup&date=&isHighlighted=False&parentid=">飞镖</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=10">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Esports&sportid=12&type=matchup&date=&isHighlighted=False&parentid=">电子竞技</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=12">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Football&sportid=15&type=matchup&date=&isHighlighted=False&parentid=">橄榄球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=15">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=17&type=special&date=&isHighlighted=False&parentid=">高尔夫球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=17">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Puck&sportid=19&type=matchup&date=&isHighlighted=False&parentid=">冰球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=19">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Fighting&sportid=22&type=matchup&date=&isHighlighted=False&parentid=">综合格斗</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=22">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=24&type=special&date=&isHighlighted=False&parentid=">政治竞选</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=24">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Soccer&sportid=29&type=matchup&date=&isHighlighted=False&parentid=">足球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=29">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Squash&sportid=31&type=matchup&date=&isHighlighted=False&parentid=">壁球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=31">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Tennis&sportid=32&type=matchup&date=&isHighlighted=False&parentid=">兵乓球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=32">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=33&type=special&date=&isHighlighted=False&parentid=">网球</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=33">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=45&type=special&date=&isHighlighted=False&parentid=">自行车</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=45">赛中盘</a></li>
    <li><a href="/api/pinnacle/?gtype=Special&sportid=58&type=special&date=&isHighlighted=False&parentid=">娱乐</a>&nbsp;&nbsp;&nbsp;<a href="/api/pinnacle/?gtype=Rollball&sportid=58">赛中盘</a></li>










 </ul>
<footer class="footer">Powered by nginx(1.14.0) on ubuntu</footer>
</body>
</html>