<html>

<head>
  <meta charset="UTF-8">
 <title> 香港马会</title>
<style>
 .footer {

    width: 100%;
    height: 50px;
    bottom: 0px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    left: 0px
}
</style>
</head>
<body>
 <ul>

  <li><a href="/api/hkjc/角球大细">角球大细</a></li>
  <li><a href="/api/hkjc/冠军">冠军</a></li>
  <li><a href="/api/hkjc/波膽">波膽 </a></li>
  <li><a href="/api/hkjc/半场波膽 ">半场波膽 </a></li>
 <li><a href="/api/hkjc/半场主客和">半场主客和</a></li>
  <li><a href="/api/hkjc/半场入球大细">半场入球大细</a></li>
  <li><a href="/api/hkjc/第一入球队">第一入球队</a></li>
  <li><a href="/api/hkjc/主客和">主客和</a></li>
  <li><a href="/api/hkjc/让球">让球</a></li>
  <li><a href="/api/hkjc/半全场">半全场</a></li>
  <li><a href="/api/hkjc/让球主客和">让球主客和</a></li>
  <li><a href="/api/hkjc/入球大细">入球大细</a></li>
  <li><a href="/api/hkjc/即场投注">即场投注</a></li>
  <li><a href="/api/hkjc/入球单双">入球单双</a></li>
  <li><a href="/api/hkjc/总入球">总入球</a></li>
 </ul>
<footer class="footer">Powered by nginx(1.14.0) on ubuntu</footer>
</body>
</html>