<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口</title>
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="/static/js/request.js"></script>

    <link rel="stylesheet"  type="text/css" href="/static/css/1.css" />
	
	<style>
 .footer {

    width: 100%;
    height: 50px;
    bottom: 0px;
    position: fixed;
    font-size: 18px;
    text-align: center;
    left: 0px

}
</style>
</head>
<body>

    <ul class="site">
        <li><a href="/hkjc/">香港马会</a></li>
        <li><a href="/pinnacle/">平博</a></li>
        <li><a href="/hga025/">w849.hga025.com</a></li>
        <li><a href="/hkjc/">香港马会</a></li>
        <li><a href="http://107.167.177.248:5002">威廉希尔</a></li>
        <li><a href="http://107.167.177.248:5001?Authorization=Basic YWRtaW46YWRtaW4=">macau</a></li>

    </ul>
<footer class="footer">Powered by nginx(1.14.0) on ubuntu</footer>
</body>
</html>